
.container {
    max-width: 500px;
    margin-top: 50px;
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 0; 
}

h1 {
    text-align: center;
    color: #ebdbdb;
    font-size: 4rem;
    font-weight: 200;
}

input {
    border: none;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    padding: 15px;
    outline: none;
}
.tarea-item {
    display:flex; justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 15px;
    border-bottom: 1px solid #eee;
}


.btn-eliminar {
    display: none;
    color: #ff5e5e;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.btn-eliminar:hover {
    color: red;
}

.tarea-item:hover .btn-eliminar {
    display: block;
}

 